:root {
  --bg: #343b40;
  --surface: #1a1f19;
  --text: #bf0f0f;
  --muted: #c9c5bb;
  --accent-crimson: #dc143c;
  --accent-gold: #ffb300;
  --accent-yellow: #c9c77b;
  --accent-light-green: #aed4a9;
  --accent-light-blue: #c5cced;
  --accent-light-red: #f5dcdc;
  --phi: 1.618;
}

/* Base */
body {
  background: var(--bg);
  color: var(--text);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: calc(1em * var(--phi));
}
h1 { font-size: calc(18px * var(--phi) * 1.2); }
h2 { font-size: calc(18px * var(--phi)); }
h3 { font-size: calc(18px * 1.2); }


/* Golden split layout */
.golden-split {
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 2rem;
}
.left-col { grid-column: 1; }
.right-col { grid-column: 2; }

/* Navbar */
.custom-navbar { background:#011202;}
.brand-badge {
  display:inline-flex; width:40px; height:40px;
  align-items:center; justify-content:center;
  border-radius:6px;
  background: linear-gradient(90deg,var(--accent-crimson),var(--accent-gold));
  color:#fff; font-weight:700;
}
.navbar .nav-link.active {
  background: linear-gradient(90deg,var(--accent-crimson),var(--accent-gold));
  border-radius:6px;
  color:#000 !important;
}

/* Cards */
.custom-card {
  background: var(--surface);
  border-radius: 10px;
  padding: 1.80rem;
  box-shadow: 0 8px 21px rgba(0,0,0,0.75);
  align-items:;
  line-height:2;
  color:white;
}
.custom-card h2,h3 {font-weight:bold; color: var(--accent-gold); }


/* Change background and text color of the active button in tabs*/
.custom-card .nav-link.active {
  background-color: var(--surface);
  color: black !important;
  border-radius: 0.5px;
}











/* Hero */
.site-hero {
  background: linear-gradient(180deg, rgba(0,0,0,0.5), transparent);
  background-size: cover;
  padding: calc(1rem * var(--phi)) 0;
}
.hero-title { font-weight:700; font-family:"Merriweather", serif; }
.hero-lead { color: var(--muted); }

/* Avatar */
.hero-avatar {
  max-width:360px;
  border-radius:10px;
  box-shadow: 0 8px 21px rgba(0,0,0,0.6);
}

/* Contact */
.contact-card {
  width: 85%;          /* spans 85% of container */
  max-width: 800px;    /* prevent over-expansion on wide screens */
}



.btn-social {
  font-size: 0.9rem;
  border-radius: 6px;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
}
.btn-social.mathscinet { background: var(--accent-crimson); color:#fff; }
.btn-social.scholar { background: var(--accent-gold); color:#000; }
.btn-social.researchgate { background: #00695c; color:#fff; }
.btn-social:hover { opacity:0.9; }

/* Publications */
.publication-font { font-family: sans-serif; font-size:18px; line-height:3;}
.with { color:red; font-weight:400; font-size:14px;}
.journal {color:var(--accent-yellow); font-weight:600;  }
.paper-title {color:var(--accent-light-blue);}
.coauthor {color:var(--accent-light-red);}



